@use '../theme' as theme;

.root {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  padding-left: theme.gutter('md');
  padding-right: theme.gutter('md');

  max-width: theme.breakpoint('xl');
}

.disableGutters {
  padding-left: 0;
  padding-right: 0;
}
