@import '../theme.scss';

.root {
  width: 100%;
  max-width: breakpoint(7xl);
  margin-left: auto;
  margin-right: auto;
  padding-left: spacing(6);
  padding-right: spacing(6);
  
  @include responsive(lg) {
    padding-left: spacing(8);
    padding-right: spacing(8);
  }
}

.disableGutters {
  padding-left: 0;
  padding-right: 0;
}