@use "../theme" as theme;

.root {
  // display: flex;
  // flex-flow: row nowrap;
  // align-items: flex-start;
  // justify-content: space-between;
  // gap: theme.spacing(8);

  display: flex;
  flex-flow: column nowrap;
  gap: theme.spacing(8);
  justify-content: space-between;
  margin-bottom: theme.spacing(16);

  & * {
    margin: 0;
  }

  .title {
    flex: 1;
  }

  .description {
    align-self: flex-end;
    flex: 1;
    color: theme.text-color('secondary');
    max-width: 50ch;
    // margin-top: theme.spacing(2);
  }
}
