@use "../animations";

.root {
  min-height: 100dvh;
  display: flex;
  align-items: flex-end;
  padding: 128px 0;

  .splashContainer {
    background: #000011;
    position: absolute;
    overflow: hidden;
    // clip-path: inset(0);

    @extend .dynamic-card-animation;
    @extend .dynamic-card-bleed-animation;

    .splash {
      position: fixed;
      inset: 0;
    }
  }

  .card {  
    position: relative;
    z-index: 1;

    .textContainer {
      max-width: 50dvh;
    }
  }
  
}
