@use "../theme" as theme;
@use "sass:math";

.root {
  position: relative;

  .header {
    position: absolute;
  }

  p {
    position: relative;
    z-index: 20;
  }

  .splashContainer {
    position: absolute;
    inset: 0;
    z-index: 10;
    clip-path: inset(0 round 0px);

    .splash {
      position: fixed;
      inset: 0;
      filter: brightness(0.5);
      z-index: 10;
    }
  }

  .contentContainer {
    position: relative;
    min-height: 100dvh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: theme.spacing(8);
    z-index: 20;
    margin-bottom: theme.spacing(16);
    pointer-events: none;

    & * {
      margin: 0;
    }
  }

  .bodyText {
    max-width: 70ch;
  }


  color: white;

  & * {
    display: inline-block;
    color: inherit;
  }

  .highlight {
    color: theme.theme-color('primary', 'main');
    font-weight: 450;
  }

  .dash {
    // color: theme.palette('text', 'secondary');
    color: theme.theme-color('primary', 'main');
    opacity: 0.5;
    font-weight: 400;
  }
  
  .descriptionContainer {
    position: relative;
    z-index: 20;
    
    p {
      max-width: 70ch;
    }
  }
}
