@use "../theme" as theme;

.root {
    min-height: 100dvh;
}

.bodyText {
    span {
        color: theme.theme-color('primary', 'light');
    }
}

.logoContainer {
    // position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;


    position: sticky;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    z-index: 10;
    // overflow: hidden;
    clip-path: url(#axoneme-clip);
    
    // svg {
    //     width: 100%;
    //     height: auto;
    //     fill: transparent;
    //     z-index: 2;
    //     position: absolute;
    // }
}

.splash {
    position: fixed;
    top: 0;
    inset: 0;
    z-index: 1;
    filter: brightness(0.5);
}



