.dynamic-card-animation {
  animation-name: dynamic-card-animation;
  animation-duration: auto;
  animation-timing-function: cubic-bezier(0.8, 0, 0.14, 1);
  animation-fill-mode: forwards;
  animation-timeline: scroll(root);
  animation-range: 25dvh 50dvh;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes dynamic-card-animation {
  0% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
  }
  100% {
    top: var(--dynamic-card-animation-top);
    right: calc(100dvw - var(--dynamic-card-animation-right));
    bottom: calc(100dvh - var(--dynamic-card-animation-bottom));
    left: var(--dynamic-card-animation-left);
    border-radius: 16px;
  }
}
